body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #fcfdf8;
}

.header {
    margin-top: 34px;
    margin-left: 195px;
    font-size: 24px;
    width: 200px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    z-index: 2;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.input-group {
    display: flex;
}

span[class~='material-icons'] {
    display: flex;
    border: 2px solid #9F9F9F;
    font-size: 27px;
    background-color: #eceaea;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    justify-content: center;
    align-items: center;
    width: 35px;
    border-right-style: none;
}

input[placeholder] {
    display: flex;
    width: 225px;
    height: 30px;
    font-size: 16px;
    outline: none;
    border: 2px solid #9F9F9F;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

@-webkit-keyframes blueFadeIn {
    from {
        border-color: #9F9F9F;
    }
    to {
        border-color: #4285f4;
    }
}

@-webkit-keyframes btnFadeIn {
    from {
        background-color: #6f42c1;
        color: #ffe484;
    }
    to {
        background-color: #ffe484;
        color: #212529;
    }
}

input[placeholder]:focus {
    animation: blueFadeIn 1s;
    border: 2px solid #4285f4;
}

form div[id="input-group"]:last-child {
    display: flex;
}

form input[type='checkbox'] {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
}

form span {
    font-size: 17px;
}

a[href="javascript:;"] {
    text-decoration: none;
    color: black;
}

button[type="submit"] {
    width: 104px;
    height: 36px;
    background-color: #6f42c1;
    color: #ffe484;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.25rem;

    border: 2px solid #ffe484;
    cursor: pointer;
}

button[type="submit"]:hover {
    animation: btnFadeIn 0.1s;
    background-color: #ffe484;
    color: #212529;
}

#registerInfo {
    visibility: hidden;
    text-align: center;
    margin-top: 4%;
    padding-left: 45px;
    color: red;
}